[Bug]: Step-CA accepts non-flattened JWS POST requests

### Steps to Reproduce

From [RFC 8555, Section 6.2](https://datatracker.ietf.org/doc/html/rfc8555#section-6.2):

> A JWS object sent as the body of an ACME request MUST meet the following additional criteria:
>
>   o  The JWS MUST be in the Flattened JSON Serialization [[RFC7515](https://datatracker.ietf.org/doc/html/rfc7515)]

This is not correctly implemented in `step-ca`, which accepts the ["General"](https://datatracker.ietf.org/doc/html/rfc7515#section-7.2.1) JWS format.
This is hard to show with an example, so I give a snippet from acme-tiny that I modified, and did not receive an error (though I should):

```
# Before (Flattened JWS format)
        data = json.dumps({"protected": protected64, "payload": payload64, "signature": _b64(out)})

# After (General JWS format)
        data = json.dumps({"payload": payload64, "signatures": [{"protected": protected64, "signature": _b64(out) }]})
```

Currently, the code uses `jose.ParseJWS` ([link](https://github.com/smallstep/certificates/blob/09be1c12a6426a0987a8bfa3bb6162b5e89fa70b/acme/api/middleware.go#L104)), which eventually calls the go-jose/v3's `ParseSigned` function ([link](https://github.com/smallstep/crypto/blob/76112d40afe9a10e1ce5dc29a475c8368ac002c2/jose/types.go#L285)), which accepts the full serialization format.

I don't believe go-jose provides any way to check this: instead there should be a check on the raw JSON that the `signatures` key does not exist prior to parsing.

### Your Environment

* OS - Linux
* `step-ca` Version - 0.29.0

### Expected Behavior

Step-ca rejects POST requests containing payloads in the General JWS format

### Actual Behavior

Step-ca accepts POST requests containing payloads in the General JWS format

### Additional Context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already).


Related issue:

> o The JWS Unprotected Header [[RFC7515](https://datatracker.ietf.org/doc/html/rfc7515)] MUST NOT be used

Because of how Golang works, the checks that step-ca performs does not rule out the use of the unprotected header, so long as the content is "empty": ex. `{"header": {"nonce": "", "alg": "", "kid": ""}}`. This should be checked as it is done so in other ACME servers such as Boulder.