[Bug]: NameConstraints URI parsing: Not all URIs are URLs

### Steps to Reproduce

Create a permittedURI NameConstraint in a certificate for any URI scheme which does not start with the form:

> *scheme*://*authority*

If a URI starts with scheme, colon, double slash, you can parse it as a URL. Otherwise you have to parse it according to its scheme. For example, with URIs of any of these schemes, step-ca will fail to find the domain name:

- stun:
- stuns:
- turn:
- turns:
- sip:
- sips:
- im:
- mailto:

In addition, xmpp: is a special case, since it can start in any of the following ways, but the second form is the most common.

- xmpp://*localpart*@*host*
- xmpp:*localpart*@*host*
- xmpp:*host*

I can document the URI formats here, and provide a bunch of example legal URIs. If I get time, I will also write a PR

### Your Environment

checked code in `master` as of today (17-Nov-2023). Also release v0.25.0.

### Expected Behavior

We expected URI NameContraints to be parsed for reasonably-modern non-URL URI schemes like xmpp, sip, sips, and im.

### Actual Behavior

#### In the logs
We get the error:
"URI with empty host (%q) cannot be matched against constraints". (where %q is replaced with the actual URI.

#### Under the hood
in policy/validate.go
the validateNames function sends URIs to be matched to matchURIConstraint, which uses the go URL type to find the host part. Since there are no slashes in there URIs, the parsing fails.

### Additional Context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already).


#### Some basic examples

im:service=user@example.com
im:user@example.com
sip:user@example.com
sips:user@example.com
sip:example.com
sips:example.com
xmpp:user@example.com
xmpp:example.com
stun:stun.example.com
stuns:stun.example.com
turn:turn.example.com
turns:turn.example.com

I will provide some more detailed examples later

Note: ldap URLs sometimes don't have a domain, but should still parse correctly with the existing code when they do.

@rohan-wire there are two parts to this: 

- The CA supports validating Name Constraints from the root + intermediate chain before issuing cert. This is kind of an extra validation to "do the right thing", as Name Constraints actually have to be validated by the client when building and verifying a certificate chain. The CA dynamically builds the rules according to the values in the signing chain.  The logic is based on the Go stdlib, but has been extracted out of it to allow configuration. This part does not take into account schemes, because those are not supposed to be there in; only the host part of the name is considered.
- The CA supports issuance policy that _does_ support the URI type. The policy engine operates independent from Name Constraints in the signing chain. However, when implementing it I took a lot of the Go stdlib parts for Name Constraint matching, so that's why there's a resemblance with Name Constraints. They don't work exactly the same, because of the semantics of how Name Constraints must be validated vs. what we wanted the logic to be like. 

It seems you're after the second thing. Note that you'll need to configure a policy; just having the Name Constraints in your signing chain won't be enough. Of course good to have both.

Your issue still stands: the current implementation of configuring the policy engine does not cover all cases. Also see #1105. We simply punted on it at the time, because we first needed people to use it, and to get feedback. Do you expect the URIs you intend to use to at least have a scheme and a host/domain part? We could try to get URL scheme matching to work in addition to the domain part matching, but simply allowing to parse the scheme and then relying just on the domain would be the simplest solution. Note that that will also be the behavior for clients doing the Name Constraint validation. 

> @rohan-wire there are two parts to this:
> 
>     * The CA supports validating Name Constraints from the root + intermediate chain before issuing cert. This is kind of an extra validation to "do the right thing", as Name Constraints actually have to be validated by the client when building and verifying a certificate chain. The CA dynamically builds the rules according to the values in the signing chain.  The logic is based on the Go stdlib, but has been extracted out of it to allow configuration. This part does not take into account schemes, because those are not supposed to be there in; only the host part of the name is considered.
> 
>     * The CA supports issuance policy that _does_ support the URI type, and parses it from a URI rule. The policy engine operates independent from Name Constraints in the signing chain. However, when implementing it I took a lot of the Go stdlib parts for Name Constraint matching, so that's why there's a resemblance with Name Constraints. They don't work exactly the same, because of the semantics of how Name Constraints must be validated vs. what we wanted the logic to be like.
> 
> 
> It seems you're after the second thing. 
We're actually after the first. We have a URI name constraint on our intermediate certs. The step-ca template looks like this:

```
{
    "subject": "example.com E2E identity Intermediate CA",
    "keyUsage": ["certSign", "crlSign"],
    "basicConstraints": {
        "isCA": true,
        "maxPathLen": 0
    },
    "nameConstraints": {
        "critical": true,
        "permittedURIDomains": ["example.com"],
        "permittedDNSDomains": ["acme.example.com"]
    }
}
```

The certificates being generated by this intermediate only have URIs in the SANs (except for step-ca's own TLS cert). Let's say the intermediate is about to generate a certificate with a SAN URI:im:alice@example.com. The bug is that even though im:alice@example.com is a URI type and obviously in the permitted domain "example.com", step-ca assumes that all URIs are of the generic structure `scheme://authority/path` and says it can't find the domain name in the URI, because not all URIs have that form. 

The bug is expressed [here in validate.go](https://github.com/smallstep/certificates/blob/7bfe11c68723194a583108e6cf984573459bda1e/policy/validate.go#L155) when matchURIConstraint is called, because that function just uses go's URL parsing to [get the hostname](https://github.com/smallstep/certificates/blob/7bfe11c68723194a583108e6cf984573459bda1e/policy/validate.go#L601). This can't work because im: URIs are not URLs and the URL parser only knows how to find a hostname after `scheme://`. Since the `im:` scheme doesn't have a `//` this won't work.

Hope this is now clearer.


Pseudocode for parsing non-URL URIs with domain names

```
match the scheme and colon (^[a-zA-Z][a-zA-Z.+-]+):

if the next two characters are "//"
    use the current host matching code 
else
    if scheme is sip or sips
        // RFC 3261 Section 25
        if there a '@' in URI
            discard the first '@' and everything before
        if there is a ';' or '?' in the remainder
            discard the first of these and everything after
        if there is a ':' in the remainder
            discard the first ':' and everything after
        what remains is the host
    if scheme is stun or stuns or turn or turns
        // RFC 7064 Section 3.1
        // RFC 7065 Section 3.1
        if there is a '?' in the URI
            discard the first of '?' and everything after
        if there is a ':' in the remainder
            discard the first ':' and everything after
        what remains is the host
    if scheme is xmpp
        // RFC 5122 Section 3.3
        if there a '@' in URI
            discard the first '@' and everything before
        if there is a '/' or '?' or '#' in the remainder
            discard the first of these and everything after
        what remains is the host
    if scheme is im or mailto
        // RFC 6068 Section 2
        // RFC 3860 Appendix A.2 
        if there is a '?' in the URI
            discard the first of these and everything after
        if there is a ','
            // should not allow a mailto URI with multiple addresses
            return an error
        if there a '@' in URI
            discard the first @ and everything before
        what remains is the host
```


> We're actually after the first. We have a URI name constraint on our intermediate certs. The step-ca template looks like this:
> 
> ```
> {
>     "subject": "example.com E2E identity Intermediate CA",
>     "keyUsage": ["certSign", "crlSign"],
>     "basicConstraints": {
>         "isCA": true,
>         "maxPathLen": 0
>     },
>     "nameConstraints": {
>         "critical": true,
>         "permittedURIDomains": ["example.com"],
>         "permittedDNSDomains": ["acme.example.com"]
>     }
> }
> ```

Noted. In that case the fix doesn't go into [policy/validate.go](https://github.com/smallstep/certificates/blob/7bfe11c68723194a583108e6cf984573459bda1e/policy/validate.go#L155), because that's part of the the issuance policy validation engine (part of the reason I asked about this, because that's the file you pointed out). For your case, it goes into [constraints/verify.go](https://github.com/smallstep/certificates/blob/f453323ba95f24ce5e6033a0a2e56d1923321fea/authority/internal/constraints/verify.go#L173). 

I also asked because it read like you maybe also wanted the allow/deny decision to take into account the specific URI scheme. That does not seem to be the case currently, so we can skip that part. 

That said, I think the thing I describe in the last paragraph in my previous comment might still be interesting to you too. At the least we should support URI schemes without slashes in policy evaluation there too. And there's utility in validating allowed/denied schemes (and other URI parts) too.



@hslatman
> That said, I think the thing I describe in the last paragraph in my previous comment might still be interesting to you too. At the least we should support URI schemes without slashes in policy evaluation there too. And there's utility in validating allowed/denied schemes (and other URI parts) too.

Thank you. I will investigate on my side. Cheers.

According to RFC5280 only URIs which have the "authority" grammar (in other words that have scheme://) are compared for URINameConstraints. The current code is correct. Closing. 