[Bug]: Step CA 0.30.2 send malformed JSON reply for order list

### Steps to Reproduce

- use Step CA as ACME server
- request the order list according to RFC8555 section 7.1.2.1 (https://www.rfc-editor.org/rfc/rfc8555#section-7.1.2.1).
- JSON returned is "[]"

### Your Environment

* OS - Gentoo Linux
* `step-ca` Version - 0.30.2
* ACME client is a private Go application that uses the https://pkg.go.dev/golang.org/x/crypto/acme lib

### Expected Behavior

the RFC describes a different format: an empty order list should be {"orders": []}

### Actual Behavior

JSON returned is "[]"

### Additional Context

_No response_

### Contributing

Vote on this issue by adding a 👍 reaction.
To contribute a fix for this issue, leave a comment (and link to your pull request, if you've opened one already).
